.v-application--wrap {
  height: 1500px;
  background-color: black;
}
.main {
  width: 650px;
}
.main form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 526px;
}
.main__url {
  width: 526px;
  height: 45px;
  padding-left: 20px;
  font-family: sans-serif;
  background-color: darkgray;
  border-radius: 5px;
  font-weight: 700;
  color: white;
}
.main__url::placeholder {
  color: white;
  font-size: 12px;
}
.main__textarea {
  background-color: darkgray;
  width: 556px;
  max-height: 335px;
  color: white;
  font-weight: 700;
}

.main__progress {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  justify-content: space-evenly;
  width: 626px;
  margin-left: 3%;
  color: black;
}
.main form .main__button {
  margin-top: -5.6%;

  color: white;
}
.main__title {
  color: white;
  font-size: 25px;
  font-family: sans-serif;
  margin-top: 5%;
  margin-left: 1.5%;
  font-weight: 800;
}
.main__progress {
  display: flex;
  justify-content: space-evenly;
  width: 600px;
  margin-left: 6%;
  color: white;
  margin-top: 1%;
}
.main__progress div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__progress h4 {
  margin-top: 6px;
}
.main__progress .v-avatar {
  font-weight: 700;
  font-size: 17px;
}
.container {
  display: flex;
  flex-direction: row;
  max-width: 1400px;
  justify-content: space-between;
}

/* result */
.fake-image {
  height: 500px;
  margin-top: 3%;
  width: 680px;
  border-radius: 5px;
}

.v-stepper {
  width: 680px;
}

.v-stepper__label {
  font-size: 13px;
}
.main__pointer {
  width: 420px;
  background-color: #4caf50;
  margin: 5%;
  margin-left: 8%;
}
.v-alert__content {
  display: flex;
  flex-direction: row;
}
.v-alert h4 {
  margin-left: 10%;
  color: white;
  font-family: sans-serif;
}

#result {
  margin-top: 5%;

  width: 90%;
  padding-left: 6%;
  padding-right: 6%;
  margin-left: 5%;
  border-radius: 5px;

  background-color: gray;
  height: 736px;
}
.result_pointer {
  display: flex;
}
#result img {
  margin-top: 4%;
}
.result_text {
  width: 90%;
  margin-left: 4%;
}
.original_text {
  height: auto;
  width: 690px;
  background-color: white;
  color: black;
  border-radius: 5px;
  font-family: sans-serif;
  padding-left: 10px;
  margin-left: -5%;
}
